---
export const prerender = false;
import { getEntry, render } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import { slide } from "astro:transitions";
import NodePassword from "../../components/NodePassword.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.nodePassword);
if (result && result.error) {
  return Astro.redirect(result.error.message);
}

// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  return Astro.redirect("/404");
}
// 2. Query for the entry directly using the request slug
const node = await getEntry("dungeon", slug);
// 3. Redirect if the entry does not exist
if (node === undefined) {
  return Astro.redirect("/404");
}

const session = await Astro.session?.get(`node:${slug}`);
if ((session?.retries ?? 0) >= (node.data.retries ?? 1)) {
  return Astro.redirect(node.data.failure_to);
}

// 4. Render the entry to HTML in the template
const { Content } = await render(node);
---

<!doctype html>
<html lang="en">
  <BaseHead title="Decker Dungeon" description="Hacking in style" />
  <body class={node.data.color}>
    <main transition:animate={slide({})}>
      {
        (node.data.password || node.data.username) && !session?.granted ? (
          <NodePassword
            prompt={node.data.prompt ?? "Enter password"}
            hasUsername={!!node.data.username}
            hasPassword={!!node.data.password}
          />
        ) : (
          <Content />
        )
      }
    </main>
  </body>
</html>
