@import "./krypton.css";
@import "./terminal.css";

dialog {
  border: 2px solid var(--foreground);
  border-radius: calc(var(--radius) * 1.6);
  padding: 10px;
  color: var(--foreground);
  background: var(--background);
}

dialog > form > fieldset {
  border: none;
}

body {
  padding: 1.25rem;
}

main {
  max-width: 80ch;
  width: 100%;
}

.headline {
  display: flex;
  flex: 1;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 0.04em;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: calc(var(--font-size) * 0.2);
  text-transform: uppercase;
}

.headline::after {
  content: "";
  background: repeating-linear-gradient(
    90deg,
    var(--accent),
    var(--accent) 2px,
    transparent 0,
    transparent 8px
  );
  display: block;
  width: 100%;
  margin-left: 20px;
  right: 10px;
}
