---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

// const dungeons = await getCollection("dungeon", (d) => !d.id.includes("/"));
const dungeons = await getCollection("dungeon");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1 class="headline">Into the Matrix</h1>

      <p>Dungeons:</p>
      <ul>
        {
          dungeons.map((d) => (
            <li>
              <a href={`/dungeon/${d.id}`}>{d.id}</a>
            </li>
          ))
        }
        <li><a href="/reset">Reset</a></li>
      </ul>
    </main>
  </body>
</html>
