---
import { actions } from "astro:actions";

const { prompt } = Astro.props;
const { slug } = Astro.params;

const result = Astro.getActionResult(actions.nodePassword);
---

{result?.error && <p class="error">{result.error}</p>}
<form method="post" action={actions.nodePassword}>
  <fieldset>
    <span>{prompt}</span>
    <input type="hidden" name="node" value={slug} />
    <input type="password" name="password" autocomplete="off" />
    <button type="submit">Submit</button>
  </fieldset>
</form>
