---
import { actions } from "astro:actions";

const { prompt, hasUsername, hasPassword } = Astro.props;
const { slug } = Astro.params;
---

<form method="post" action={actions.nodePassword}>
  <fieldset>
    <span>{prompt}</span>
    <input type="hidden" name="node" value={slug} />
    {
      hasUsername && (
        <input
          type="text"
          placeholder="Username"
          name="username"
          autocomplete="off"
        />
      )
    }
    {
      hasPassword && (
        <input
          type="password"
          placeholder="Password"
          name="password"
          autocomplete="off"
        />
      )
    }
    <button type="submit">Submit</button>
  </fieldset>
</form>
