---
const { prompt } = Astro.props;
---

<dialog open>
  <form method="post">
    <fieldset>
      <p>{prompt}</p>
      <input
        type="password"
        autocomplete="off"
        name="password"
        placeholder="Password"
      /><br />
      <button>Submit</button>
      <button formmethod="dialog">Cancel</button>
    </fieldset>
  </form>
</dialog>
